    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #f3e8ff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset {
    width: 385px;
    height: 230px;
    border: 2px solid #ccc;
    background-color: #fff;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #761ac1;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


input[type="submit"] {
    width: 330px;
    height: 45px;
    height: 50px;
    border: none;
    background-color: rgb(125, 16, 123);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: rgb(145, 36, 143);
}

p {
    margin-top: 12px;
    text-align: center;
    font-size: 16px;
    color: #761ac1;
}
