.container {
    margin-left: 150px; 
    padding: 20px;
    max-width: 650px;
    margin-top: 20px;
    position: relative;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.25);
    width: 100%;
    max-width: 110%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

h2, .txtTitle {
    text-align: center;
    color: #3b4d6e;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.linha-dupla {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

label {
    font-size: 13px;
    color: #3b4d6e;
    text-transform: uppercase;
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #b8c7e6;
    font-size: 13px;
    box-sizing: border-box;
}

textarea {
    height: 70px;
    resize: vertical;
}

.btn {
    width: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 9px 18px;
    background: linear-gradient(180deg, #384c7a 0%, #1b2744 100%);
    color: white;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
    transition: background 0.3s ease, transform 0.2s ease;
}

.btn:hover {
    background: linear-gradient(180deg, #5e7dc7 0%, #32487a 100%);
    transform: translateY(-2px);
}
.btn-cancelar {
    background: #6c7a95;     
}

.btn-cancelar:hover {
    background: #515e72;
    transform: translateY(-2px);
}
.form-actions {
    display: flex;
    justify-content: center;
    gap: 15px;
}
@media (max-width: 600px) {
    .container {
        margin-left: 0;
        max-width: 95%;
    }

    .linha-dupla {
        grid-template-columns: 1fr;
    }

    .btn {
        width: 40%;
    }
}