@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


.container-ajustes {
    margin-top: 30px;
    max-width: 480px;       
    width: 90%;              
    margin: 25px auto;
    padding: 10px;
}

.titulo-ajustes {
    text-align: center;      
    font-size: 24px;
    font-weight: 700;
    color: #3b4d6e;
    margin-bottom: 10px;
}

.subtitulo-ajustes {
    text-align: center; 
    font-size: 14px;
    color: #56627a;
    margin-bottom: 15px;
}

.caixa-ajustes {
    margin-top: 50px;
    background: white;
    border: 1px solid #d2d7e1;
    border-radius: 10px;
    padding: 20px 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}


.form-ajustes {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.ajuste-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.ajuste-item label {
    font-size: 14px;
    font-weight: 600;
    color: #3b4d6e;
}

.ajuste-item select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #bfc4d3;
    border-radius: 6px;
    background: #f7f9fc;
}


.controle-fonte {
    display: flex;
    gap: 5px;
}

.btn-fonte {
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 6px;
    background: #3b4d6e;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}

.display-fonte {
    width: 65px;
    text-align: center;
    padding: 6px;
    background: #f0f2f7;
    border: 1px solid #bfc4d3;
    border-radius: 6px;
    font-weight: 600;
}
#tamanhoFonte {
    background-color: #f4f6fa;
    border-radius: 20px;
    text-align: center;
    width: 80px;
    color:#3b4d6e;
}

.btn-salvar {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #45689e;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;           
    transition: 0.2s;
}

.btn-salvar:hover {
    background: #3d3e8f;
}


@media (max-width: 480px) {

    .container-ajustes {
        max-width: 95%;
    }

    .caixa-ajustes {
        padding: 15px;
    }

    .btn-fonte {
        width: 32px;
        height: 32px;
    }

    .display-fonte {
        width: 55px;
    }
}
