.txtTitle{
 color: #3b4d6e;
 text-align: center;
 font-size: 22px;
 font-weight: bold;
}
.form-grid { 
    background: #fff;
    padding: 40px;           
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.25);
    width: 800px;            
    max-width: 98%;     
    display: flex;
    flex-direction: column; 
    gap: 30px;              
    min-height: 500px;       
    position: absolute; 
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%); 
    transition: all 0.3s ease;
}

.colunas-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;               
}

.coluna-esq,
.coluna-dir {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;               
}


.form-grid label {
    font-size: 14px;
    color: #3b4d6e;
    font-weight: bold;
    text-transform: uppercase;
}

.form-grid input,
.form-grid select,
.form-grid textarea {
    width: 100%;
    padding: 8px;            
    border-radius: 6px;
    border: 1px solid #b8c7e6;
    outline-color: #3b7dff;
    font-size: 13px;
    box-sizing: border-box;
}

textarea {
    resize: none;
    height: 90px;            
}

.form-actions {
    display: flex;
    justify-content: center; 
}

.form-actions input[type="submit"] {
    padding: 12px 20px;      
    background: rgb(44, 84, 149);
    color: white;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s ease, transform 0.2s ease;
}

.form-actions input[type="submit"]:hover {
    background: #2f4468;
    transform: translateY(-2px);
}

input[type="file"]::file-selector-button {
    background: rgb(97, 93, 200);
    color: rgb(249, 250, 253);
    border: none;
    padding: 6px 14px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

input[type="file"]::file-selector-button:hover {
    background: #6461c4;
    color: #fff;
}
.botoes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
}

.btn {
    width: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 9px 18px;
    background: linear-gradient(180deg, #384c7a 0%, #1b2744 100%);
    color: white;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
    margin-top: 15px;
    transition: background 0.3s ease, transform 0.2s ease;
}

.btn:hover {
    background: linear-gradient(180deg, #5e7dc7 0%, #32487a 100%);
    transform: translateY(-2px);
}
.btn-cancelar {
    background: #6c7a95;     
}

.btn-cancelar:hover {
    background: #515e72;
    transform: translateY(-2px);
}
.form-actions {
    display: flex;
    justify-content: center;
    gap: 15px;
}