.estoque-container-form {
    margin-left: 120px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

form {
    background: #fff;
    padding: 35px 45px;    
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.25);
    width: 800px;  
}
h2{
    text-align: center;
    color: #3b4d6e;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
}
.titulo-form {
    text-align: center;
    font-size: 22px;
    color: #2f3e5d;
    margin-bottom: 18px;
    font-weight: bold;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 25px;
}

.campo {
    display: flex;
    flex-direction: column;
}

label {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #2f3e5d;
    margin-bottom: 4px;
}

input,
select,
textarea {
    padding: 10px;
    border: 1px solid #b8c7e6;
    border-radius: 6px;
    font-size: 13px;
    width: 100%;
}

textarea {
    height: 100px;
    resize: none;
}

.erro-msg {
    color: red;
    text-align: center;
}


.botoes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
}

.btn-salvar {
    background: linear-gradient(180deg, #384c7a 0%, #1b2744 100%);
    padding: 10px 25px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    text-transform: uppercase;
    transition: background 0.3s ease, transform 0.2s ease;
}

.btn-salvar:hover {
    background: linear-gradient(180deg, #5e7dc7 0%, #32487a 100%);
    transform: translateY(-2px);
}

.btn-cancelar {
    text-decoration: none;
    background: #6c7a95;
    color: white;
    padding: 10px 25px;
    border-radius: 6px;
    font-size: 13px;
    text-transform: uppercase;
    transition: 0.3s;
}

.btn-cancelar:hover {
    background: #515e72;
    transform: translateY(-2px);
}
