@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
html, body {
  height: 100%;
  margin: 0;
  background: linear-gradient(180deg, #a8c0f4 0%, #192849 110%);
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  display: flex;
  justify-content: center;
  text-align: center;
  color: #1f2a44; 
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 80px;
}

h3{
  text-align: center;
  color: #1f2a44; 
  margin-top: 20px;
  font-size: 16px;
  font-weight: normal;
}

p{
  text-align: center;
  color: #3746b0; 
  margin-top: 10px;
  font-size: 14px;
}

a{
  color: #2f2aad;
  text-decoration: underline;
  font-weight: bold;
}

button{
  text-align: center;
  margin-left: 30px;
  margin-top: 20px;
  padding: 10px 20px;
  background: linear-gradient(180deg, #1f2a44 0%, #0f1626 100%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
form{
  background: #fff;
  width: 400px;
  height: 330px;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);

}

input[type="text"], 
input[type="email"],
input[type="password"],
input[type="file"]{
  margin-top: 8px;
  width: 300px;
  height: 40px;
  outline-color: #7377b1; 
  border-color: rgb(223, 223, 223);
  border-radius: 8px;
}

input[type="text"], 
input[type="email"],
input[type="password"],
label{
  margin-left: 52px;
}

input[type="submit"]{
  margin-left: 125px;
  margin-top: 50px;
  padding: 14px 50px;
  background: linear-gradient(180deg, #1f2a44 0%, #0f1626 100%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  transition: background 0.3s ease, transform 0.2s ease;

}

input[type="submit"]:hover {
    background: linear-gradient(180deg, #364770 0%, #17223b 100%);
    transform: translateY(-2px);
}
label{
  font-size: 14px;
  color: #1f2a44;
  font-weight: bold;
  text-transform: uppercase;
}
